<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.opyeung.mapper.ProductMapper">

	<!-- column명 재사용을 위한 정의 -->
	<!-- 사용 예제  <include refid="productColumns" /> -->
	<sql id="productColumns">
		PRODUCT_CODE, 
		CATEGORY_ID , 
		URL , 
		PRODUCT_NM , 
		PRODUCT_DESC , 
		PRICE , 
		DISCOUNT_PRICE , 
		PRODUCT_IMG
	</sql>
	
	<select id="getProductList" resultType="Product"> 
		    SELECT A.INX AS SITE_ID, A.SITE_NM , A.SITE_ICON , B.CATEGORY , B.CATEGORY_DESC , C.PRODUCT_IMG, C.PRODUCT_CODE , C.URL , C.INX AS PRODUCT_ID, C.PRODUCT_NM , C.PRODUCT_DESC, C.PRICE , C.DISCOUNT_PRICE
              FROM OP_SITE_MAS A
              JOIN OP_CATEGORY_MAS B ON A.INX = B.SITE_ID
              JOIN OP_PRODUCT_MAS C ON B.CATEGORY = C.CATEGORY_ID
              limit 10;
	</select>

	
</mapper>