.navbar-container {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  top: 0px;
  z-index: 2;
  position: fixed; 
  width: 100%; /* Full width */
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 2;

}

.searchbar-section {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.logo-section {
  font-family: Brush Script MT, Brush Script Std;
  font-size: 32px;
}

.actions-section {
  display: flex;
}

.actions-section div:first-child {
  margin-right: 15px;
}